<div class="drawbox">
  <h1>Let's Draw</h1>

  <div class="container">
    <p class="col-md-8"><canvas id="draw_canvas" width="640" height="480"></canvas></p>
    <div class="col-md-4">
      <p><input type="text" name="title" placeholder="title"></input></p>
      <p><input id="lineWidth" type="range" name="range" ></input></p>
      <p><input id="lineColor" type="color" name="color" ></input></p>
      <button class="btn btn-primary save">save</button>
    </div>
  </div>
</div>
<script src="/js/draw.js"></script>
