<header>
  <h1>Sketch nano</h1>
<p>
Sketch Nanoは、最高のお絵かきアプリです。
</p>
</header>
<p>
<h2>About: sketch nano</h2>
</p>
sketch nanoは、以下のことができます。
</p>
<ul>
  <li>絵が描ける</li>
  <li>投稿できる</li>
  <li>みんなの投稿をみれる</li>
  <li>"スキ"をつけられる</li>
</ul>
<p><a class="btn btn-default" role="button" href="/dashboard">link</a></p>
